* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.card {
    background-color: #eaeaea;
    width: 800px;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 20 px;
    position: relative;
    overflow: hidden;
}

.margin-atas {
    text-align: center;
    font-size: 18px;
    letter-spacing: 15px;
    color: 1a1a1a;
}

.margin-bawah {
    text-align: center;
    font-size: 18px;
    letter-spacing: 15px;
    color: 1a1a1a;
}

.card-body {
    display: flex;
    margin: 20px 0px;
    gap: 30px
    ;
}

.kolom-kiri {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imput {
    width: 500px;
    height: 277px;
    margin-bottom: none;
    display: flex;
}

.photo {
    width: 100%;
    height: 279px;
    border: 1px solid #333;
    margin-bottom: 30px;
    background-color: transparent;
}

.caption {
    margin-top: none;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.kolom-kanan {
    width: 60%;
    position: relative;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h3 {
    font-size: 16px;
    font-weight: bold;
}

.header h2 {
    font-size: 20px;
    font-weight: 900px;
    margin-top: 5px;
}

.data-diri {
    margin-bottom: 20px;
}

.data {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.data .label {
    font-size: 14px;
    margin-right: 10px;
}

.data .line {
    flex-grow: 1;
    border-bottom: 2px dotted #333;
    height: 15px;
}

.section {
    margin-bottom: 20px;
    text-align: center;
}

.section h4 {
    font-size: 14px;
    margin-bottom: 5px;
}

.section p {
    font-size: 13px;
    text-align: justify;
    line-height: 1.4;
}

.stemple {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #5b9db0;
    opacity: 0.4;
    pointer-events: none;
}

.tanda-tangan {
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tanda-tangan .line {
    width: 250px;
    border-bottom: 2px dotted #333;
    margin-bottom: 5px;
}

.tanda-tangan p {
    font-size: 12px;
    font-style: italic;
    width: 250px;
    text-align: center;
}