body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

header {
    background-color: dimgray;
    color: whitesmoke;
    text-align: center;
}

nav {
    background-color: dimgray;
    color: whitesmoke;
    text-align: center;
}

h1 {
    font-size: 60px;
}

section {
    background-color: dimgray;
    color: whitesmoke;
}

li {
    color: whitesmoke;
}

footer {
    background-color: dimgray;
    color: black;
    text-align: center;
}